
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.display-flex{
  display: flex; 
}
.section-title{
  font-size: 2.8rem;
  font-weight: 700;
}
/* dark-2 */
.text-gray{
color: rgba(66, 66, 66, 1);
}
/* text-primary */
.text-primary{
  color: rgba(255, 144, 14, 1);
}
/* dark-3 */
.text-light-gray{
  color: #727272;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 144, 14, 1);
  padding: 20px 25px;
  border: none;
  
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: 500;
}
main > section{
  margin-top: 130px;
}

main{
  max-width: 1440px;
 
  margin: 0 auto;
}
/* header style */

/* navber related style */
.navber{
    justify-content: space-between;
    align-items: center;
}
.brand{
  font-size: 3rem;
  font-weight: 700;
}
.nav-items{
  list-style: none ;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
.navber,.banner{
  max-width: 1440px;
  margin: 0 auto;
}
/* banner related style */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title{
  font-size: 4rem;
  font-weight: 700;
}
.banner-description{
  font-size: 1rem;
  font-weight: 400;
}
.banner-image {
  width: 100%;
}
/* team and features related style */
.teams{
  align-items: center; 
  
}

.team-img-container{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 24px;
}
.our-features{
  max-width: 530px;
 margin-left: 70px;
  
}
.feature-title{
  font-weight: 460px;
  font-size: ;
}

#quic-list{
  font-weight: 500;
}
/* features-section-related */
#features-section-title{
  border-left: 5px solid rgba(255, 144, 14, 1);
  padding-left: 20px;
}
.feature-card{
padding: 30px;
box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
margin-bottom: 20px;
border-radius: 8px;
}
.feature-title{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
  
}
.features{
  gap:140px
}
#features-section-title{
  margin-top: 0px;
  margin-bottom: 0px;
}
.featured-architect img{
  width: 100%;
}
/* some fact related style */
.fact-card{
  border: 1px solid rgba(255, 144, 14, 1);
  width: 240px;
  height: 240px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.facts-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;

}
.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}
.fact-decription{
  font-size: 1rem;
  font-weight: 500;
  max-width: 540px;
  height: 50px;
}
#exprience-badge{
  padding: 45px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -100px; 
  margin-top: -100px;
  
}
#exprience-year{
  font-size: 4rem;
  font-weight: bold;

}
/* Our Sponspors related style */
.Sponspors-info{
  max-width: 540px;
  margin: 50px auto;
}
.sponspors-companies{
display: grid;
grid-template-columns: repeat(5,1fr);

}
.sponspors-companies img{
  filter: grayscale(100%);
}

/* respossive media quary */
@media screen and (max-width:576px) {
  .navber,
  .nav-links,
  .teams,
  .features
  {
    flex-direction: column;
  }
  .team-img-container,
  .facts-container,
  .sponspors-companies
  {
    grid-template-columns: repeat(1,1fr);
    
  }
  .our-features{
    margin-left: 20px;
  }
  .facts-container,.sponspors-companies{
  justify-items: center;
  gap: 24px;
  }
  #exprience-badge{
    margin-top: 20px;
    margin-left: 20px;
  }
}

/* medium size device */
@media screen and (min-width: 576px ) and (max-width:992px) {
  .teams,.features {flex-direction: column;
    
  }
  .our-features{
    margin-left: 50px auto;
  }
  .facts-container,.sponspors-companies{
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    gap: 50px;
  }
  
  #exprience-badge{
    margin-top: 20px;
    margin-left: 20px;
  }

  
}